body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

p {
  color: #fff;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

::-moz-selection {
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  background: #3BCEFF; /* WebKit/Blink Browsers */
}

::selection {
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  background: #3BCEFF; /* WebKit/Blink Browsers */
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.link {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#3BCEFF), color-stop(50%, #3BCEFF), color-stop(50%, #fff));
  background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
.link:hover {
  background-position: 0 100%;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -moz-animation-name: bounce;
}

.mobile-link {
  background: -webkit-gradient(linear, left top, right top, from(#3BCEFF), color-stop(50%, #3BCEFF), color-stop(50%, #fff));
  background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile-link:hover {
  background-position: 0 100%;
}

.wrap {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation .wrap {
  max-width: none;
  padding: 0px;
}
.navigation .wrap .navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 25px;
  margin: 25px;
}
@media screen and (max-width: 525px) {
  .navigation .wrap .navigation-items {
    display: none;
  }
}
.navigation .wrap .mobile-nav-container {
  display: none;
}
@media screen and (max-width: 525px) {
  .navigation .wrap .mobile-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.navigation .wrap .mobile-nav-container .lines {
  margin: 20px 10px 0px;
}
.navigation .wrap .mobile-nav-container .lines .line {
  background-color: #fff;
  height: 4px;
  width: 35px;
  margin-top: 5px;
  border-radius: 2px;
}

.hero {
  margin-top: 150px;
  color: #fff;
}
@media screen and (max-width: 525px) {
  .hero .wrap .title {
    font-size: 30px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
}
.hero .wrap .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.hero .wrap .pagination .dot {
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.hero .wrap .resume {
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
}
.hero .wrap .resume.btn {
  font-size: 13px;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.hero .wrap .resume.btn:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}
.hero .wrap .swiper {
  margin: 40px 0;
  color: #fff;
  cursor: -webkit-grab;
  cursor: grab;
}