body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.desc {
    color: #fff;
    font: {
        family: helvetica, sans-serif;
        size: 15px;
    }
    letter-spacing: 1px;
}

::selection {
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    background: #3BCEFF; /* WebKit/Blink Browsers */
}

.title {
    color: #fff;
    font: {
        family: helvetica, sans-serif;
        size: 40px;
        weight: bold;
    }
    letter-spacing: 1px;
    @media screen and (max-width: 625px){
        font-size: 25px;
    }
}

.next {
    display: flex;
    justify-content: center;
    .arrow-down {
        height: 50px;
        width: 50px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .arrow-up {
        margin-top: 125px;
        height: 50px;
        width: 50px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(-135deg);
        cursor: pointer;
        
    }
}

// Bounces nav items

@keyframes bounce {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-5px)
    }
    80% {
        transform: translateY(-5px)
    }
}

// Expands the timer underneath title

@keyframes expand {
    2% {
        width: 0%;
        background: #ffffff00;
    }
    50% {
        background: #ffffff;
    }
    100% {
        width: 100%;
        background: #ffffff00;
    }
}

// Link styling

.link {
    font: {
        family: helvetica, sans-serif;
        size: 20px;
    }
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: all .5s;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    &:hover {
        background-position: 0 100%;
        animation-name: bounce;
        -moz-animation-name: bounce;
    }
}

.mobile-link {
    background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: all .5s;
    &:hover {
        background-position: 0 100%;
    }
}

// Page Formatting

.wrap {
    max-width: 1980px;
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.shadow {
    box-shadow: inset 0 -10px 25px -10px #ffffff50;
    transition: all 1s;
}

// Styles

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrap {

        background-color: #00000050;
        position: fixed;
        top: 0;
        max-width: none;
        padding: 0px;
        width: 100%;
        backdrop-filter: blur(3px);
        z-index: 2;
        transition: all 1s;
        .navigation-items {
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            margin: 25px;
            @media screen and (max-width: 525px){
                display: none;
            }
        }
        .mobile-nav-container {
            display: none;
            @media screen and (max-width: 525px){
                display: flex;
                justify-content: flex-end;
            }
            .lines {
                cursor: pointer;
                margin: 20px 20px 26px;
                .line {
                    background-color: #fff;
                    height: 4px;
                    width: 35px;
                    margin-top: 5px;
                    border-radius: 2px;
                }
            }
        }
    }
}

.hero {
    text-align: center;
    .wrap {
        position: relative;
        color: #fff;
        padding: 20vh 50px 75vh;
        .arrow-down {
            position: absolute;
            top: 725px;
        }
        .underline {
            display: block;
            margin: 0px auto 35px;
            height: 2px;
            width: 0px;
            background: #ffffff00;
            animation-name: expand;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 0ms;
        }
        .resume {
            max-width: 160px; 
            top: 50px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            padding: 15px;
            &.btn{
                font: {
                    size: 13px;
                }
                border: 0 solid;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                outline: 1px solid;
                outline-color: rgba(255, 255, 255, .5);
                outline-offset: 0px;
                text-shadow: none;
                transition: outline-color 500ms, background-position 500ms;
                &:hover {
                    outline-color: rgba(255, 255, 255, 0);
                    outline-offset: 15px;
                    outline-width: 2px;
                    transition: all 1000ms;
                }
            }
        }
        .desc-container {
            margin: 0;
        }
    }
}

.skills-grid {
    position: relative;
    top: 1400px;
    margin-bottom: 1500px;
    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        .wrap {
            display: flex;
            justify-content: center;
            .buckets-container{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 5px;
                max-width: 750px;
                .bucket{
                    display: inline-block;
                    border: 2px solid white;
                    width: 150px;
                    height: 150px;
                    margin: 1px 0;
                    @media screen and (max-width: 720px){
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}