body{
    background-color: #000;
    margin: 0;
    padding: 0;
}

h1, .title {
    color: #fff;
    transition: all .25s;
    font: {
        family: helvetica, sans-serif;
        size: 40px;
        weight: bold;
    }
    letter-spacing: 1px;
}

.desc {
    color: #fff;
    font: {
        family: helvetica, sans-serif;
        size: 15px;
    }
    letter-spacing: 1px;
    // text-transform: uppercase;
}

::selection {
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    background: #3BCEFF; /* WebKit/Blink Browsers */
  }

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    20% {
        -webkit-transform: translateY(-5px);
        -ms-transform:     translateY(-5px);
        transform:         translateY(-5px)
    }
    80% {
        -webkit-transform: translateY(-5px);
        -ms-transform:     translateY(-5px);
        transform:         translateY(-5px)
    }
}

// Link styling

.link {
    font: {
        family: helvetica, sans-serif;
        size: 20px;
    }
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: all .5s;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    &:hover {
        background-position: 0 100%;
        animation-name: bounce;
        -moz-animation-name: bounce;
    }
}

.mobile-link {
    background: linear-gradient(to right, #3BCEFF, #3BCEFF 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: all .5s;
    &:hover {
        background-position: 0 100%;
    }
}

// Page Formatting

.wrap {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

// Keyframes

// Styles

.navigation {
    .wrap {
        background-color: #00000050;
        position: fixed;
        top: 0;
        max-width: none;
        padding: 0px;
        border: 2px solid #ffffff25;
        box-shadow: inset 0 0 20px #ffffff50;
        width: 100%;
        box-sizing: border-box;
        backdrop-filter: blur(5px);
        z-index: 2;
        .navigation-items {
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            margin: 25px;

            @media screen and (max-width: 525px){
                display: none;
            }
        }
        .mobile-nav-container {
            display: none;
            @media screen and (max-width: 525px){
                display: flex;
                justify-content: flex-end;
            }
            .lines {
                margin: 20px 10px 0px;
                .line {
                    background-color: #fff;
                    height: 4px;
                    width: 35px;
                    margin-top: 5px;
                    border-radius: 2px;
                }
            }
        }
    }
}

.hero {
    margin-top: 150px;
    color: #fff;
    @media screen and (max-width: 525px){
        text-align: center;
    }
    .wrap {
        margin-bottom: 2000px;

        .title {
            @media screen and (max-width: 525px){
                font-size: 30px;
            }
        }
        .resume {
            max-width: 160px; 
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            padding: 15px;
            &.btn{
                
                font: {
                    size: 13px;
                }
                border: 0 solid;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                outline: 1px solid;
                outline-color: rgba(255, 255, 255, .5);
                outline-offset: 0px;
                text-shadow: none;
                transition: all 1000ms;
                &:hover {
                    outline-color: rgba(255, 255, 255, 0);
                    outline-offset: 15px;
                }
            }
        }
        .swiper-desc {
            margin: 40px 0 55px;
        }
    }
}
